/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --cover-image: url("../images/cover-image-light.png");
    --background-color: #ffeef6;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --second-text-color: #353430;
    --title-background-color: #ff8dcb;
    --decor-color: #353430;
    --corner-border: 1px solid var(--decor-color);

    --display-rec: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --cover-image: url("../images/cover-image-light.png");
        --background-color: #ffeef6;
        --title-color: #ffc2e6;
        --main-text-color: #353430;
        --second-text-color: #ff8dcb;
        --title-background-color: #ffc2e6;
        --decor-color: #353430;
        --corner-border: 1px solid var(--decor-color);

        -display-rec: none;
    }
}
